<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layoutrole}">

<head>
    <title>Bank</title>
</head>

<body>

    <div layout:fragment="content">
    User ID: <span th:text="${userId}"></span>
    
    Email: <span th:text="${email}"></span>
    
    Role ID: <span th:text="${roleId}"></span>
    
    Fullname: <span th:text="${fullname}"></span>

    <h3>Bank
        <button class="btn btn-primary" onclick="addForm()" style="float: right;"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </h3><br>
    <table id="bankTable" class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nama</th>
                <th>Kode VA</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="bankData">
    
        </tbody>
    </table>


<script>

    loadBank()

    function loadBank(){
        $.ajax({
            url: 'http://localhost:8086/api/bank',
            type: 'GET',
            contentType: 'application/json',
            success: function(bank){
                var str = '';
                var number = 1;
                for (i = 0; i < bank.length; i++) {
                    str += '<tr>';
                    str += '<td>' + number + '</td>';
                    str += '<td>' + bank[i].name + '</td>';
                    str += '<td>' + bank[i].vaCode + '</td>';
                    str += `<td>
                                    <button value="${bank[i].id}" onclick="editForm(this.value)" class="btn btn-primary">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    <button value="${bank[i].id}" onclick="deleteForm(this.value)" class="btn btn-danger">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    </td>`;
                    str += '</tr>';
                    number++;
                }

                $('#bankData').html(str)
                $('#bankTable').DataTable({
                    "dom": '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>' +
                        '<"row"<"col-sm-12"tr>>' +
                        '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
                    "language": {
                        "search": "Search:"
                    }
                });
            }
        })
    }

    function addForm(){
        str = `
                <div class="mb-3">
                            <form name="bank_form" id="bank_form">
                                <label for="exampleInputEmail1" class="form-label">Nama*</label>
                                <input type="text" class="form-control" id="nama" name="nama" required>
                                <div id="nama_help" class="form-text" style="color: red;"></div>
                                <label for="exampleInputEmail1" class="form-label">Kode VA*</label>
                                <input type="text" class="form-control" id="kodeva" name="kodeva" required>
                                <div id="kodeva_Help" class="form-text" style="color: red;"></div>
                            </form>
                        </div>
                        <button type="submit" class="btn btn-danger" onclick="$('#mymodal').modal('hide')">Batal</button>
                        <button type="submit" class="btn btn-primary" onclick="saveBank()">Daftar</button>
                `;

        $('#mymodal').modal('show');
        $('.modal-title').html('Add Bank');
        $('.modal-body').html(str);
    }

    function saveBank(){
        var nama = $('#nama').val();
        var kodeva = $('#kodeva').val();

        const bank = {
            name: nama,
            vaCode: kodeva,
            createdBy: localStorage.getItem("userId")
        }

        console.log(bank);

        $.ajax({
            url: 'http://localhost:8086/api/savebank',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(bank),
            contentType: 'application/json',
            success: function (bank) {
                console.log(bank);
                $('#mymodal').modal('hide')
                $('#bankTable').DataTable().destroy();
                loadBank();
            }
        })
    }

    function editForm(bank_id){
        $.ajax({
            url: 'http://localhost:8086/api/bank/' + bank_id,
            type: 'GET',
            contentType: 'application/json',
            success: function(bank){
                str = `
                <div class="mb-3">
                    <form name="bank_form" id="bank_form">
                                <label for="exampleInputEmail1" class="form-label">Nama*</label>
                                <input type="text" value="${bank.name}" class="form-control" id="nama" name="nama" required>
                                <div id="nama_help" class="form-text" style="color: red;"></div>
                                <label for="exampleInputEmail1" class="form-label">Kode VA*</label>
                                <input type="text" value="${bank.vaCode}" class="form-control" id="kodeva" name="kodeva" required>
                                <div id="kodeva_Help" class="form-text" style="color: red;"></div>
                            </form>
                        </div>
                        <button type="submit" class="btn btn-danger" onclick="$('#mymodal').modal('hide')">Batal</button>
                        <button type="submit" value="${bank.id}" class="btn btn-primary" onclick="editBank(this.value)">Simpan</button>
                        <input type="hidden" value="${bank.createdOn}" id="created_on">
                        `;

                $('#mymodal').modal('show');
                $('.modal-title').html('Edit Bank');
                $('.modal-body').html(str);
            }
        })
    }

    function editBank(bank_id){
        var nama = $('#nama').val();
        var kodeva = $('#kodeva').val();
        var createdOn = $('#created_on').val();

        const bank = {
            name: nama,
            vaCode: kodeva,
            createdOn: createdOn,
            createdBy: localStorage.getItem("userId"),
            modifiedBy: localStorage.getItem("userId")
        }
        
        console.log(bank);
        
        $.ajax({
            url: 'http://localhost:8086/api/bank/' + bank_id,
            type: 'PUT',
            dataType: 'json',
            data: JSON.stringify(bank),
            contentType: 'application/json',
            success: function (bank) {
                console.log(bank);
                $('#mymodal').modal('hide')
                $('#bankTable').DataTable().destroy();
                loadBank();
            }
        })
    }

    function deleteForm(bank_id){
        $.ajax({
            url: 'http://localhost:8086/api/bank/' + bank_id,
            type: 'GET',
            contentType: 'application/json',
            success: function(bank){
                str = `
                <div class="mb-3">
                    <p>Anda akan menghapus ${bank.name}</p>
                </div>
                <button type="submit" class="btn btn-danger" onclick="$('#mymodal').modal('hide')">Tidak</button>
                <button type="submit" value="${bank.id}" class="btn btn-primary" onclick="deleteBank(this.value)">Ya</button>
                `;
            
                $('#mymodal').modal('show');
                $('.modal-title').html('Hapus Bank');
                $('.modal-body').html(str);
            }
        })
    }

    function deleteBank(bank_id){
        var deletedBy = localStorage.getItem("userId");
        $.ajax({
            url: 'http://localhost:8086/api/deletebank/' + bank_id,
            type: 'PUT',
            dataType: 'json',
            data: JSON.stringify(deletedBy),
            contentType: 'application/json',
            success: function (bank) {
                console.log(bank.name);
                $('#mymodal').modal('hide');
                $('#bankTable').DataTable().destroy();
                loadBank();
            },
            error: function(err){
                console.log(err);
            } 
        })
    }

</script>

</div>
</body>
</html>