<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div>
        <table>
            <tr>
                <td colspan="5" style="background-color:#333; color:white">
                    <button class="btn btn-primary" onclick="menuDetail()" id="menu">Menu</button>
                </td>
            </tr>
            <tr>
            <tbody id="menuData">
            </tbody>
        </table>
    </div>
<script>
    function menuDetail() {
        $.ajax({
            url:'http://localhost:5000/getmenurole/',
            type:'GET',
            dataType:'json',
            contentType:'application/json',
            success:function(menudetail) {
                console.log(menudetail)
                str = '';
                for(i = 0; i < menudetail.length; i++) {
                    str += `
                <tr>
                    <td>${menudetail[i].name}</td>  
                </tr>
                `;
                }
                $('#menuData').html(str)
            }
        })
       }
</script>
</div>

</body>
</html>