<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layoutrole}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <table>
            <tbody id="">
                <tr>
                    <td>
                        <div class="card" style="width: 5rem;">
                            <img src="/images/plus-icon.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text"></p>
                            </div>
                          </div>
                        Menu 1
                    </td>
                    <td>
                        Menu 2
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>

</body>
</html>

