<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layoutrole}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content">
    <div>
            <div class="row" id="menuData"></div>
    </div>
    <script>
    //    userdetail()
    //    function userDetail(roleId) {
    //     $.ajax({
    //         url:'http://localhost:5000/getuserrole/' + roleId,
    //         type:'GET',
    //         dataType:'json',
    //         contentType:'application/json',
    //         success:function(userdetail) {
    //             console.log(userdetail)
    //             str = '';
    //             for(i = 0; i < userdetail.length; i++) {
    //                 str += `
    //             <tr>
    //                 <td>${userdetail[i].biodata.fullname}</td>  
    //             </tr>
    //             `;
    //             }
    //             $('#userData').html(str)
    //         }
    //     })
    //    }

    loadMenu()
       function loadMenu() {
        $.ajax({
            url:'http://localhost:5000/menu/1/15',
            type:'GET',
            contentType:'application/json',
            success:function(menu) {
                console.log(menu)
                var str = '';
                str += '<div class="container">';
                str += '<div class="row">';
                    for(i = 0; i < menu.length; i++) {
                        str += '<div class="col-sm-2 text-center">'
                            // str += '<div class = "card" style = "width: 7rem;">'
                            if(menu[i].big_icon == null) {
                                str += `<img src = "/images/doctor.png">`
                            } else {
                                str+= '<a href="#" class="nav-link active" aria-current="page" back style="color:rgb(44, 156, 219); font-weight: normal;">'
                                str+= '<figure>'
                                str+= `<img src = "/images/${menu[i].big_icon}" style="height:65px;">`
                                str+= `<figcaption class="" style="">${menu[i].name}</figcaption>`
                                str+= '</figure>'
                                str+= '</a>'
                            }
                            str += '<br>'
                            // str+= '<div class = "card body">'
                        str += '</div>'

                    }
                str += '</div>';
                str += '</div>';
                $('#menuData').html(str)
            }
        })
       }
       
    </script>
</div>

</body>
</html>

