<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="/css/customrole.css"></link>

    <script src="/js/jquery-3.6.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="mymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(219, 244, 251);">
    <div class="container-fluid">
      <img src="/images/plus-icon.png">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="navbar-brand" href="" style="color: rgb(44, 156, 219); font-size: 30px;  padding-bottom: 10px; padding-right: 10px;">Med.Id</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
          <form class="d-flex">
            <input class="form-control form-control-sm" type="text" placeholder="Cari Dokter atau Faskes" aria-label="Search" size="100" style="margin:5px;">
            <span>
              <button type="button" class="btn btn-outline-secondary border-start-0 border-bottom-0 border ms-n5" style="background-color: rgb(44, 156, 219); margin:5px;">
                <i class="fa fa-search" style="color: white;"></i>
              </button>
            </span>

            <button class="btn btn-primary btn-sm" type="submit" style="width: 100px; margin: 10px; color: rgb(44, 156, 219); background-color: white;">Daftar</button>
            
            <button class="btn btn-primary btn-sm" type="submit" style="width: 100px; margin: 10px; color: white; background-color: rgb(44, 156, 219);">Masuk</button>
            
          </form>
        </ul>
        
      </div>

    </div>
  </nav>

  <!-- Sidebar -->
<div class="body" style="height:400px">
    <div class="sidebar" style="width: 150px; background: rgb(135, 219, 247); 
  background: linear-gradient(180deg, rgba(219, 244, 251)0%, rgba(135, 219, 247)  100%); float: left; height: 96%;">

<a href="" class="d-flex" style="position: static; padding-left: 100px;">
    <h4>...</h4>
  </a>
  <ul class="nav nav-pills flex-column mb-auto">
      <li class="mb-1">
      <button class="btn btn-toggle" id="dropdownMenuButton" data-bs-toggle="collapse" aria-expanded="false">
        Home
      </button>
      </li>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Overview</a></li>
          <li><a href="#" class="link-dark rounded">Weekly</a></li>
          <li><a href="#" class="link-dark rounded">Monthly</a></li>
          <li><a href="#" class="link-dark rounded">Annually</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Orders
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">New</a></li>
          <li><a href="#" class="link-dark rounded">Processed</a></li>
          <li><a href="#" class="link-dark rounded">Shipped</a></li>
          <li><a href="#" class="link-dark rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">New...</a></li>
          <li><a href="#" class="link-dark rounded">Profile</a></li>
          <li><a href="#" class="link-dark rounded">Settings</a></li>
          <li><a href="#" class="link-dark rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
  </ul>

    </div>
    <div id="content">
        <section layout:fragment="content" style="padding: 20px" id="baseContent"></section>
    </div>
</div>


<!-- Footer -->
<footer class="footer mt-auto py-3" style="position: absolute; bottom: 0; width: 100%; height: 120px; background-color:rgb(135, 219, 247);">
    <div class="container">
      <!--span class="text-muted">CopyRight&copy;2023, Batch 313, XA - Jakarta, Indonesia</span-->
    </div>
</footer>


</body>
</html>